<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smirnov Maksim</title>
    <link rel="icon" href="../images/icona2.png">
    <link rel="stylesheet" type="text/css" href="../css/des.css">
    <script src="js/main.js"></script>

</head>
<body>
    <header>
        <div>
            <h1>
                <a href = '/'>Smirnov Maksim</a>
            </h1>
            <nav>
                <ul>
                    <li>
                        <a href = '../index.html'>About me</a>
                    </li>
                    <li>
                        <a href = '#'>My news</a>
                    </li>
                    <li>
                        <a href = 'myskills.html'>My skills</a>
                    </li>
                    <li>
                        <a href = 'contact.html'>Contact me</a>
                    </li>
                </ul>
            </nav>
           <!-- <div id = 'links'>
                <a href ='https://vk.com/smax294'><img src="images/vklogo.png" ></a>
                <a href="https://t.me/smax294"><img src="images/tglogo.png" ></a>
                <a href="https://github.com/MaximSmir"><img src="images/githublogo.png" ></a>
                <a href="mailto:dendufire@yandex.ru"><img src="images/emaillogo.png" ></a>
            </div> -->
        </div>
    </header>
    <main>
        <h2>My news</h2>
        <p>
            I'm Maksim Smirnov. I am beginner Data Science and Web developer. I also study algotithms and data structures and like to take part in diffirent contests.
        </p>
        <p>
            I'm Maksim Smirnov. I am beginner Data Science and Web developer. I also study algotithms and data structures and like to take part in diffirent contests.
        </p>
        <p>
            I'm Maksim Smirnov. I am beginner Data Science and Web developer. I also study algotithms and data structures and like to take part in diffirent contests.
        </p>
        <p>
            I'm Maksim Smirnov. I am beginner Data Science and Web developer. I also study algotithms and data structures and like to take part in diffirent contests.
        </p>
    </main>

</body>
</html>

